<!---
<div class="row justify-content-center">

  <div class="header">
    <img src="./../../assets/images/logo.png" />
  </div>


  <div class="col-9">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>

      <div class="d-grid gap-2">
        <button type="button" [routerLink]="['/home']" class="btn btn-primary">
          Entrar
        </button>

        <button type="button" [routerLink]="['/sign-up']" class="btn btn-secondary">
          Cadastre-se
        </button>
      </div>


    </form>
  </div>
</div>
-->



<div class="row justify-content-center fundo">

  <div class="col-9">

    <div class="header">
      <img src="./../../assets/images/logo.png" />
    </div>

    <form class="form">
      
      <label for="email" class="form-label"></label>
      <input type="email" class="form-control" id="email" name="email"placeholder="Email">
      <br>
      <label for="senha" class="form-label"></label>
      <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha">
      <br/>
      <button routerLink="/home"expand="block" shape="round" class='login'>
        Entrar
      </button>
      <button routerLink="/sign-up" fill ='clear' class='signUp'>
        Cadastrar
      </button>
    </form>

  </div>
</div>




