
<div class="row justify-content-center fundo">

  <div class="col-9">

    <div class = "header">
      <img src = "./../../assets/images/logo.png">
    </div>

    <form class="form">
      <label for="Nome" class="form-label"></label>
      <input type="text" class="form-control" id="nome" name="nome"placeholder="Nome Completo">
      <br/>
      <label for="Email" class="form-label"></label>
      <input type="email" class="form-control" id="email" name="email"placeholder="Email Address">
      <br/>
      <label for="senha" class="form-label"></label>
      <input type="password" class="form-control" id="senha" name="senha"placeholder="Senha">
      <br/>
      <label for="Confirmar" class="form-label"></label>
      <input type="password" class="form-control" id="csenha" name="csenha"placeholder="Confirmar Senha">
      <br/>

      <button class="cadastrar"shape='round' routerLink='/login'>Cadastrar</button>
      <br/>
      <button class="voltar" fill="clear" routerLink='/login'>Voltar</button>

    </form>


  </div>


</div>
